<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<div style="background: #14c9cc; margin-bottom: 50px;">
		<div style="color: #00041a; font-size: 24px; padding: 15px; margin-left:70px; float: left;">Student Login</div>
		<a href="{% url 'index' %}" style="text-decoration: none;">
			<div style="color: #00041a; font-size: 24px; padding: 15px; text-align: right; margin-right:70px;">Home</div>
		</a>
	</div>
	<div style="text-align: center;">


		<form action="{% url 'chklogin' %}" method="POST">
			{% csrf_token %}
			{{ loginform.as_table }}
			<input type="submit" name="Login" value="Login">
		</form>
	
	{% if messages %}
	<ul class="messages" style="list-style: none;">
	    {% for message in messages %}
	    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	</div>
</body>
</html>